<div style= "margin-bottom:30px">
  <h1>ログイン画面</h1>
</div>

<% if flash[:notice] %>
  <p>
    <font color="blue">
      <%= flash[:notice] %>
    </font>
  </p>
<% end %>  

<h3>アニメを斬るにログインする</h3>
<%= form_with url: top_login_path, local: true do |f| %>
  <p>
    <%= f.label :uid, 'ユーザID' %>
    <%= f.text_field :uid, class: 'form-control' %>
  </p>

  <p>
    <%= f.label :pass, 'パスワード' %>
    <%= f.password_field :pass, class: 'form-control' %>
  </p>
  
  <p>
    <%= f.submit 'ログイン', class: 'btn-lg btn-success' %>
  </p>
<%end%>

<p>
  <%= link_to '新規登録', new_user_path, class: 'btn btn-primary' %>
</p>

<p>
  <%= link_to '戻る', :back, class: 'btn btn-primary' %>
</p>