<% if flash[:info] %>
<%= flash[:info] %>
<% end %>

<% if @anime.errors.present? %>
<h3>エラーがあります。</h3>
<ul>
  <% @anime.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<% if current_user %>
  <%= form_for @anime, url: {action: :create} do |f| %>
  <p>
    <%= f.text_field :message %>
    <%= f.submit "投稿" %>
  </p>
  <% end %>
<% end %>

<% @animes.each do |t| %>
<p>
  <%= User.find(t.user_id).uid %>
  <%= t.message %>
  <% if current_user and t.user_id == current_user.id %>
    <%= link_to '削除', anime_path(t), method: :delete, data: { confirm: '削除していいですか？' }  %>
    <%= link_to '編集', "animes/#{t.id}/edit" %>

  <% end %>
  <% if current_user %>
    <% if Like.find_by(user_id: current_user.id, anime_id: t.id) %>
      <%= link_to '❤️', like_path(t), method: :delete %>
    <% else %>
      <%= link_to '♡', likes_path(anime_id: t.id), method: :post %>
    <% end %>
  <% end %>
  <% if current_user %>
    <% if Bad.find_by(user_id: current_user.id, anime_id: t.id) %>
      <%= link_to '💔️', bad_path(t), method: :delete %>
    <% else %>
      <%= link_to '❤︎', bads_path(anime_id: t.id), method: :post %>
    <% end %>
  <% end %>
</p>
<% end %>

<% if current_user %>
  <p><%= link_to 'ログアウト', top_logout_path %></p>
<% else %>
  <p><%= link_to 'ログイン', top_login_path %></p>
<% end %>

<p><%= link_to 'ユーザID一覧', users_path %></p>
<p><%= link_to '新規登録', new_user_path %></p>

<p>aaaaaaaaaaaaaaaaaa</p>