<% if flash[:info] %>
<%= flash[:info] %>
<% end %>
<% if @anime.errors.present? %>
<h3>エラーがあります。</h3>
<ul>
  <% @anime.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
<% if current_user %>
  <%= form_for @anime, url: {action: :create} do |f| %>
  <p>
    <h3>アニメタイトル</h3>
    <%= f.text_field :title, class: 'form-control' %>
    <br>
    <br>
    <h3>感想</h3>
    <%= f.text_area :message, class: 'form-control' %>
    <br>
    <%= f.submit '送信', class: 'btn btn-success'%>
  </p>
  <% end %>
<% end %>
<br>
<br>
<h1>みんなの投稿</h1>
<br>


<% @animes.each do |t| %>
  <p>
    <%#<img src="<%= "/user_images/#{@user.image}" %>
    <%#<% if anime.picture? %>
      <%#<%= image_tag @user.image.url %>
      <%= image_tag 'hito.png', class:"profile_img", :size =>'40x40' %>
      <%#<%= image_tag "/get_image/#{t.id}" %>
      <%= User.find(t.user_id).uid %>
      <br>
      <p>
        アニメ：<%= t.title %>
      <br>
        感想：<%= t.message %>
      </p>
      <% if current_user %>
        <% if Like.find_by(user_id: current_user.id, anime_id: t.id) %>
          <%= link_to '😍️', like_path(t), method: :delete %>
        <% else %>
          <%= link_to 'ｲｲﾈ!️', likes_path(anime_id: t.id), method: :post, class: 'btn btn-primary' %>
        <% end %>
      <% end %>
      <% if current_user %>
        <% if Bad.find_by(user_id: current_user.id, anime_id: t.id) %>
          <%= link_to '😟', bad_path(t), method: :delete %>
        <% else %>
          <%= link_to 'ｳ~ﾝ…', bads_path(anime_id: t.id), method: :post, class: 'btn btn-primary' %>
        <% end %>
      <% end %>
      <% if current_user and t.user_id == current_user.id %>
        <%= link_to '削除', anime_path(t), method: :delete, data: { confirm: '削除していいですか？' } ,class: 'btn btn-primary' %>
        <%= link_to '編集', "animes/#{t.id}/edit", class: 'btn btn-primary' %>
      <% end %>
      <br>
      <br>
      <br>
    <%#<% end %>
  </p>
<% end %>
<br>
<br>

<h2>Goodランキング</h2>
<% @like_ranks.each do |t| %>
<%= image_tag 'hito.png', class:"profile_img", :size =>'40x40' %>
<%= image_tag "/get_image/#{t.id}" %>
<%= User.find(t.user_id).uid %>
<%= t.title %>
<%= t.message %>
<%# <%= t.message %>
<br>
<br>
<% end %>
<br>
<br>

<h2>Badランキング</h2>
<% @bad_ranks.each do |t| %>
<%= image_tag 'hito.png', class:"profile_img", :size =>'40x40' %>
<%= image_tag "/get_image/#{t.id}" %>
<%= User.find(t.user_id).uid %>
<%= t.title %>
<%= t.message %>
<br>
<br>
<% end %>
<br>
<br>
