<!DOCTYPE html>
<html>
  <head>
    <title>L7</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div class= "header">
      <%= render "hf/header" %>
    </div> 
    
    <div class= "container">
      <div class= "main">
        <%= yield %>
      </div>
    </div>
    
    <div class= "footer">
      <%= render "hf/footer" %>
    </div>

  </body>
</html>
